<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.jeungsangdiary.calendar.category.CategoryMapper">
    <select id="getCategories">
        SELECT 
            UNQ_ID as unqId,
            NAME,
            IMG_URL as imgUrl
        FROM
            categorys
    </select>

    <select id="getCategoryNameByCellId">
        SELECT
            c.name as name
        FROM
            categorys c
        LEFT OUTER JOIN category_cells ccell
        ON c.unq_id = ccell.category_id
        WHERE
            ccell.cell_id = #{unqId}
    </select>

    <select id="getCategoryImgUrlById" parameterType="long">
        SELECT
            IMG_URL
        FROM
            categorys
        WHERE
            UNQ_ID = #{id}
    </select>
</mapper>