<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.jeungsangdiary.calendar.cell.CellMapper">
    <!-- getEventsByUnqId -->
    <select id="getEventsByUnqId">
        SELECT 
            UNQ_ID as unqId,
            TO_CHAR(POST_DATE, 'YYYY-mm-dd') as postDate,
            TITLE,
            CONTENT,
            TO_CHAR(WRITE_DATE, 'YYYY-mm-dd') as writeDate
        FROM
            cells
        WHERE
            USER_ID = #{unqId}
    </select>

    <select id="getEventById">
        SELECT 
            cells.UNQ_ID as unqId,
            TO_CHAR(cells.POST_DATE, 'YYYY-mm-dd') as postDate,
            cells.TITLE,
            cells.CONTENT,
            TO_CHAR(cells.WRITE_DATE, 'YYYY-mm-dd') as writeDate,
            categorys.NAME as categoryName
        FROM
            cells
        JOIN 
            category_cells ON cells.UNQ_ID = category_cells.CELL_ID
        JOIN 
            categorys ON category_cells.CATEGORY_ID = categorys.UNQ_ID
        WHERE
            cells.UNQ_ID = #{cellId}
    </select>

    <!-- addEvent --> 
    <insert id="addEvent" parameterType="com.human.jeungsangdiary.calendar.cell.CellVO">
        INSERT INTO
            cells (
                UNQ_ID,
                USER_ID,
                TITLE,
                POST_DATE,
                CONTENT
            ) VALUES (
                #{cell.unqId},
                #{userId},
                #{cell.title},
                #{cell.postDate},
                #{cell.content}
            )
    </insert>

    <!-- getNextId -->
    <select id="getNextId">
        SELECT CELL_SEQ.NEXTVAL FROM dual
    </select>

    <!-- deleteById --> 
    <delete id="deleteById">
        DELETE FROM cells WHERE UNQ_ID = #{id}
    </delete>

    <update id="moveEvent">
        UPDATE cells
        SET
            POST_DATE = #{postDate}
        WHERE
            UNQ_ID = #{id}
    </update>

    <update id="updateEvent">
        UPDATE cells
        SET
            POST_DATE = #{postDate},
            TITLE = #{title},
            CONTENT = #{content}
        WHERE
            UNQ_ID = #{unqId}
    </update>
</mapper>