<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/common :: scripts">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 쓰기</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/common :: header"></div>
    <section class="main container">
        <div class="inner">
            <!-- 제목 영역 -->
            <div class="main-title">
                <h1>게시글 쓰기</h1>
            </div>
    
            <!-- 게시글 입력 -->
            <!-- 요청 데이터에 file 이 있다면, 인코딩을 하지 않도록 
                enctype="multipart/form-data" 로 설정해준다. -->
            <form action="http://192.168.0.200:8080/api/board" method="post" id="form" enctype="multipart/form-data">
                <table class="board">
                    <tr>
                        <td class="label">제목</td>
                        <td class="data">
                            <input type="text" name="title" id="title" class="input-text">
                            <p id="title-error" class="error-msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">작성자</td>
                        <td class="data">
                            <input type="text" name="writer" id="writer" class="input-text">
                            <p id="writer-error" class="error-msg"></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">내용</td>
                        <td class="data">
                            <textarea name="content" id="content" cols="30" rows="10" class="input-textarea"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">파일</td>
                        <td class="data">
                            <input type="file" name="file" id="file" multiple>
                        </td>
                    </tr>
                </table>
            </form>

            <div class="btn-box">
                <div class="item">
                    <a href="list" class="btn">목록</a>
                </div>
                <div class="item">
                    <a href="javascript:;" class="btn" id="btn-insert">등록</a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../js/jquery-3.7.0.min.js"></script>
    <script>

        function validCheck(id, label, length=-1) {

            // NULL 체크
            let element = $('#' + id)
            let value = element.val()
            if( value == '' || value == null ){
                element.addClass('error')
                $('#' + id +'-error').text(`${label}(을/를) 입력해주세요`)
                element.focus()
                return false
            }

            // 문자열 길이 확인
            if( length != -1 && length > 60 ) {
                element.addClass('error')
                $('#' + id + '-error').text(`${label}은 ${length}자 이하로 작성 가능합니다`)
                element.focus()
                return false
            }
            return true
        }

        /*
            유효성 검사
            * 제목 (필수, 60자이하)
            * 작성자 (필수, 20자이하)
        */  
        function isValid() {

            // error 표시 갱신
            $('.input-text').removeClass('error')
            $('.error-msg').text('')

            let check1 = validCheck('title', '제목', 60)
            let check2 = validCheck('writer', '작성자', 20)

            if( check1 && check2 )
                return true

            return false

        }

        // 등록 버튼 - 클릭 이벤트
        $('#btn-insert').on('click', function() {

            // 유효성 검사
            if( !isValid() ) {
                return
            }

            // 폼 요청
            // let form = $('#form')
            // form.submit()               // 폼 제출

            // 등록 요청
            const url = 'http://192.168.0.200:8080/api/board'

            let formData = new FormData()

            let title = $('#title').val()
            let writer = $('#writer').val()
            let content = $('#content').val()
            let file = $('#file')[0]
            let files = file.files

            formData.append('title', title)
            formData.append('writer', writer)
            formData.append('content', content)

            for (let i = 0; i < files.length; i++) {
                formData.append('file[]', files[i])
            }

            $.ajax({
                url : url,
                type : 'post',
                data : formData,            // JSON.stringify(data),
                contentType     : false,    // 'application/json',
                processData     : false,    // 데이터를 쿼리 문자열로 변환 여부
                success : function(response) {
                    // alert(response)
                    if( response == 'SUCCESS' ) {
                        alert('등록이 완료되었습니다.')
                        // 목록 페이지로 이동
                        location.href = 'list.html'
                    }
                    
                },
                error : function(error) {

                }
            })

        })

        document.addEventListener('keydown', function(event) {
            var key = event.key || event.keyCode;

        // Check if the pressed key is the backspace key
        if (key === 'Backspace' || key === 8) {
        // Perform the back navigation
        window.history.back();

        // Prevent the default backspace behavior (e.g., going back in input fields)
        event.preventDefault();
            }
        });

    </script>
    <div th:replace="fragments/common :: footer"></div>
</body>
</html>