@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
}
a {
  text-decoration: inherit;
  color: inherit;
  text-decoration: none;
  color: #1e1e23;
  opacity: 1;
  transition: 200ms;
}
li {
  list-style: none;
  list-style-type: none;
}
img {
  vertical-align: middle;
}
a img {
  border: none;
}
address,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}
button:focus {
  outline: none;
}
.tooltip-inner {
  white-space: pre-wrap;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fefdf1;
}

#wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 0;
}
footer {
  height: 0;
  position: relative;
  transform: translateY(-100%);
}

/* 토스트 알림창 */
#toast {
  position: fixed;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 16px;
  z-index: 1000;
  right: 30px;
  bottom: 30px;
  font-size: 17px;
}

/* 글씨 드래그 시, 상태를 지정하는 선택자 */
::selection {
  background-color: var(--main);
  color: white;
}

/* css 변수 선언 */
:root {
  /* 메인 컬러 지정 */
  --main: #dce6ff;
  --sub: #89b1ff;
  --bg-light: #f3efeb;
  --bg-gray: #aaa;
  --neon-green: #b9cc95;
  --neon-pink: #e8a3b5;
  --light-pink: #f7ccd3;

  --text-black: #000;
  --text-gray: #666;
  --text-light-gray: #999;
}
