
 /* 메인 */
 .container {
   width: 960px;
   margin: 0 auto;
 }

 .main .inner { padding: 50px;}

 .btn-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 15px;
 }

 .btn-box2 {
   justify-content: flex-end;
   margin-top: 30px;
   display: flex;
   align-items: center;
 }

 .btn-box .item {
   width: auto;
   display: flex;
   align-items: center;
   column-gap: 10px;
 }

 .btn { 
   display: inline-block;
   min-width: 120px; 
   min-height: 48px;
   line-height: 48px;
   background-color: rgb(172, 245, 188);
   color: rgb(0, 0, 0);
   text-align: center;
   border-radius: 10px;
}

/* 작은 버튼 */
.btn.btn-sm {
   min-width: 60px;
   min-height: 32px;
   line-height: 32px;
}
 
/* 제목 영역 */
.main-title { margin-bottom: 20px; }
.main-title h1 { font-size: 20px; }
.main-title p { font-size: 15px; }

/* 테이블 - (게시글목록) */
.board {
   width: 100%;
   border-top: 2px solid rgb(170, 166, 166);
   border-bottom: 2px solid rgb(170, 166, 166);
   margin: 30px 0;
   border-collapse: collapse;

}
.board tr {
   border-bottom: 1px solid rgb(170, 166, 166);
   text-align: center;
}
.board.hover tr:hover {
   background-color: rgb(224, 248, 229);
   font-weight: bold;
}

.board .num { width: 10%; font-size: 15px; }
.board .title { width: 40%; max-width: 340px; font-size: 15px; }
.board .writer { width: 20%; max-width: 160px; font-size: 15px; }
.board .date { width: 20%; font-size: 15px; }
.board .view { width: 10%; font-size: 15px; }

.board tbody .title { text-align: left; }
.board tbody tr td { font-size: 15px; }

/* 줄 넘침 방지 (...) */
.txt-over { 
   display: inline-block;
   width: 95%;
   max-height: 32px;
   overflow: hidden;
   text-overflow: ellipsis;   /* 말줄임(...) */
   white-space: nowrap;
}

/* 읽기 */
.board .label { width: 20%; }
.board .data { 
   width: 80%; 
   text-align: left;
   font-size: 15px; 
}

.board thead { font-weight: bold; }

.board td {
   display: inline-block;
   padding: 15px 0;
   font-size: 1.2rem;
}

/* 텍스트 입력 */
.input-text {
   width: 90%;
   font-size: 32px;
   margin: 0 10px;
   border-radius: 5px;
   padding-left: 10px;
   outline: none;
}

/* 유효성 검사 에러 시 */
.input-text.error {
   border-color: red;
}

.input-textarea {
   resize: none;
   width: 90%;
   font-size: 32px;
   margin: 0px 10px;
   border-radius: 5px;
   outline: none;
}

.input-text:focus,
.input-textarea:focus {
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.input-text.error:focus {
   border-color: red;
}

/* 검색창 */
.input-search {
   min-height: 48px;
   font-size: 18px;
   padding-left: 8px;
   border-radius: 10px;
}


/* 에러 메시지 */
.error-msg {
   color: red;
   padding-left: 12px;
   font-size: 12px;
}

/* 페이지네이션 */
.pagination {
   margin: 40px auto;
   text-align: center;
   display: flex;
   justify-content: center;
}
.pagination a {
   display: inline-block;
   width: 32px;
   height: 32px;
   line-height: 32px;
   border: 1px solid gray;
}
.pagination .page-no {
   font-size: 18px;
}
.pagination .page-arrow {
   color: gray;
}

.pagination a.on,
.pagination a:hover {
   background-color: rgb(172, 245, 188);
   font-weight: bold;
   color: white;
} 



/* 댓글 */
#comment-list {
   margin-bottom: 40px;
}
#comment-list .comment-box {
   width: 400px;
   border: 1px solid black;
   padding: 12px;
}
#comment-list .comment-box .top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}
#comment-list .comment-box .bottom {}
#comment-list .comment-box .comment-writer { font-weight: bold; }
#comment-list .comment-box .comment-date { color: #333; font-size: 12px; }
#comment-list .comment-box .comment-content {}

#comment-list .comment-box .etc-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 0;
}

.input-box {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   margin: 20px 0;
   padding: 20px 0;
}
.input-box .top {}
.input-box .comment-input {
   width: 400px;
}
.input-box .comment-input input {
   min-height: 48px;
   font-size: 18px;
   padding-left: 8px;
}
.input-box .comment-input textarea {
   font-size: 18px;
   padding-left: 8px;
   resize: none;
   width: 100%;
}

.input-box .btn-box {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

/* 댓글/답글 */
.edit-box input {
   min-height: 48px;
   font-size: 18px;
   padding-left: 8px;
}


.edit-box textarea {
   font-size: 18px;
   padding-left: 8px;
   resize: none;
   width: 100%;
}


/* 반응형 item 가로 크기 */
.w-auto { width: 200px !important; }

/* 반응형 적용 */
/* 태블릿 가로 : ~1024px */
@media screen and (max-width: 1024px) {
   .container { width: 100% !important; }
   .w-auto { width: 220px !important; }
   .grid.col-md-4 { grid-template-columns: repeat(4, 1fr); }
   .grid.col-md-3 { grid-template-columns: repeat(3, 1fr); }
   .grid.col-md-2 { grid-template-columns: repeat(2, 1fr); }
   .grid.col-md-1 { grid-template-columns: repeat(1, 1fr); }
}

/* 태블릿 세로, 모바일 가로 : 480px ~ 768px */
@media screen and (max-width: 768px) {
   .w-auto { width: 240px !important; }
   .grid.col-sm-4 { grid-template-columns: repeat(4, 1fr); }
   .grid.col-sm-3 { grid-template-columns: repeat(3, 1fr); }
   .grid.col-sm-2 { grid-template-columns: repeat(2, 1fr); }
   .grid.col-sm-1 { grid-template-columns: repeat(1, 1fr); }
}

/* 모바일 세로 : ~ 480px */
@media screen and (max-width: 480px) {
   .w-auto { width: 100% !important; }
   .grid.col-xs-4 { grid-template-columns: repeat(4, 1fr); }
   .grid.col-xs-3 { grid-template-columns: repeat(3, 1fr); }
   .grid.col-xs-2 { grid-template-columns: repeat(2, 1fr); }
   .grid.col-xs-1 { grid-template-columns: repeat(1, 1fr); }
}