<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.jeungsangdiary.user.UserMapper">

    <!-- countByEmail --> 
    <select id="countByEmail" resultType="boolean">
        SELECT
            COUNT(*)
        FROM
            users
        WHERE
            email = #{email}
    </select>

    <!-- countByUsername --> 
    <select id="countByUsername" resultType="boolean">
        SELECT
            COUNT(*)
        FROM
            users
        WHERE
            username = #{username}
    </select>

    <!-- insertUser --> 
    <insert id="insertUser" parameterType="com.human.jeungsangdiary.user.UserVO" >
        INSERT INTO users (
            username,
            email,
            password
        ) VALUES (
            #{username},
            #{email},
            #{password}
        )
        <selectKey resultType="long" order="AFTER" keyProperty="unqId">
            SELECT
                unq_id
            FROM
                users
            WHERE
                email = #{email}
        </selectKey>
    </insert>

    <!-- insertUserRole --> 
    <insert id="insertUserRole" parameterType="com.human.jeungsangdiary.user.UserVO">
        INSERT INTO user_roles (
            user_id,
            role
        ) VALUES (
            #{unqId},
            #{role}
        )
    </insert>

    <!-- insertUserResidence --> 
    <insert id="insertUserResidence" parameterType="com.human.jeungsangdiary.user.UserVO">
        INSERT INTO user_Residences (
            user_id
        ) VALUES (
            #{unqId}
        )
    </insert>

    <!-- insertUserDetail --> 
    <insert id="insertUserDetail" parameterType="com.human.jeungsangdiary.user.UserVO">
        INSERT INTO user_details (
            user_id
        ) VALUES (
            #{unqId}
        )
    </insert>

    <!-- updateUserResidence --> 
    <update id="updateUserResidence">
        UPDATE user_residences
        SET
            postcode = #{req.postcode},
            address = #{req.address},
            detail_address = #{req.detailAddress},
            extra_address = #{req.extraAddress}
        WHERE
            user_id = #{userId}
    </update>

    <!-- updateUserDetail --> 
    <update id="updateUserDetail">
        UPDATE user_details
        SET
            name = #{req.name},
            birthdate = #{req.birthdate}
        WHERE
            user_id = #{userId}
    </update>

    <!-- selectByEmail --> 
    <select id="selectByEmail" parameterType="com.human.jeungsangdiary.user.UserVO">
        SELECT
            users.unq_id as unqId,
            users.email,
            users.password,
            users.username,
            user_roles.role
        FROM
            users
        LEFT JOIN
            user_roles
        ON
            users.unq_id = user_roles.user_id
        WHERE
            users.email = #{email}
    </select>


    <!-- selectByUnqId --> 
    <select id="selectByUnqId" parameterType="com.human.jeungsangdiary.user.UserVO">
        SELECT
            users.unq_id as unqId,
            users.email,
            users.password,
            users.username,
            user_roles.role
        FROM
            users
        LEFT JOIN
            user_roles
        ON
            users.unq_id = user_roles.user_id
        WHERE
            users.unq_id = #{unqId}
    </select>

    <!-- selectUserResidence --> 
    <select id="selectUserResidence" parameterType="long">
        SELECT
            postcode,
            address,
            detail_address as detailaddress,
            extra_address as extraaddress
        FROM
            user_residences
        WHERE
            user_id = #{userId}
    </select>

    <!-- selectUserDetail --> 
    <select id="selectUserDetail" parameterType="long">
        SELECT
            name,
            birthdate
        FROM
            user_details
        WHERE
            user_id = #{userId}
    </select>    
    </mapper>