<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragments/common :: scripts"></div>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
  </head>
  <body>
    <div th:replace="fragments/common :: header"></div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h1 class="fs-4">회원 상세 정보</h1>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-lg-6">
                  <label class="fs-5">주소</label>
                  <div class="input-group mb-2">
                    <input class="form-control postcode" type="text" placeholder="우편번호" readonly />
                    <input class="btn btn-secondary" type="button" value="우편번호 찾기" onclick="getPostcode()" />
                  </div>
                  <div class="input-group mb-2">
                    <input class="form-control address" type="text" placeholder="도로명주소 혹은 지번주소" readonly />
                  </div>
                  <div class="input-group mb-2">
                    <input class="form-control detailAddress" type="text" placeholder="상세주소" />
                    <input class="form-control extraAddress" type="text" placeholder="참고항목" readonly />
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <label class="fs-5">개인 정보</label>
            </li>
          </ul>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <input class="btn btn-primary btn-lg" type="submit" value="수정하기" />
        </div>
      </div>
    </div>
    <div th:replace="fragments/common :: footer"></div>
    <script>
      function getPostcode() {
        new daum.Postcode({
          oncomplete: function (data) {
            let addr = ""; // 주소 변수
            let extraAddr = ""; // 참고항목 변수

            // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === "R") {
              // 도로명 주소를 선택했을 경우
              addr = data.roadAddress;
            } else {
              // 지번 주소를 선택했을 경우 ("J")
              addr = data.jibunAddress;
            }

            // 참고항목 조합
            if (data.userSelectedType === "R") {
              // 법정동명이 있을 경우 (법정리 제외)
              // 마지막 문자가 "동/로/가"로 끝날 경우
              if (data.bname !== "" && /[동|로|가]$/g.test(data.bname)) {
                extraAddr += data.bname;
              }

              // 건물명이 있고, 공동주택일 경우
              if (data.buildingName !== "" && data.apartment === "Y") {
                extraAddr += extraAddr !== "" ? ", " + data.buildingName : data.buildingName;
              }

              // 표시할 참고항목이 있을 경우
              if (extraAddr !== "") {
                extraAddr = `(${extraAddr})`;
              }

              $(".extraAddress").val(extraAddr);
            } else {
              $(".extraAddress").val(null);
            }

            $(".postcode").val(data.zonecode);
            $(".address").val(addr);

            $(".detailAddress").focus();
          },
        }).open();
      }
    </script>
  </body>
</html>
